/* Base code for background */
body {
  margin: 0;
  padding: 0;
  background: #8D7D7D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background: #FCF5EE;
  border: 6px solid #FFC4C4;
  box-sizing: border-box;
}

.hangman-box {
  display: flex;
  justify-content: center;

}

.img {
    display: block;
    margin:10px;
    width: 60%;
    max-width: 300px;
    height:25%;

  position: relative;
}

/* Instructions Button */
.instructions-button {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 50px;
  cursor: pointer;
}

.instructions-button:hover {
  transform: scale(1.08);
  opacity: 0.85;
}

/* Pause Button */
.pause-button {
  position: absolute;
  top: 60px;
  right: 12px;
  width: 50px;
  cursor: pointer;
}

.pause-button:hover {
  transform: scale(1.08);
  opacity: 0.85;
}


/* Pause Overlay */
.pause-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* Popup Container */
.pause-popup {
  background: #fff3eb;
  border-radius: 25px;
  width: 85%;
  max-width: 300px;
  padding: 25px 20px 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  text-align: center;
  border: 2px solid #92487A;
}

/* Main buttons */
.pause-action {
  display: block;
  width: 80%;
  max-width: 190px;
  margin: 20px auto 10px auto;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.pause-action:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Bottom icons row */
.pause-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.icon-btn {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease, background 0.15s ease;
}

.icon-btn:hover {
  transform: scale(1.12);
  opacity: 0.85;
}


/* Pause bar */
.pause-header {
  background: linear-gradient(to right, #92487A, #f3a0b2, #92487A);
  color: white;
  font-weight: 900;
  font-size: 24px;
  padding: 18px 0;
  margin: -25px -20px 20px; 
  border-radius: 25px 25px 18px 18px;
  position: relative;
}

/* Close (X) */
.pause-close {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 24px;
  cursor: pointer;
}

.pause-btn {
  width: 60%;
  padding: 8px;
  margin: 8px auto;
  border-radius: 22px;
  font-size: 17px;
  border: none;
  font-weight: bold;
  background: #f1a3b5;
  color: white;
  cursor: pointer;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

.pause-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;

}

.game-box .word-display {
    gap: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.word-display .letter {
    width: 28px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
}
.word-display .letter.guessed {
    margin: -40px 0 35px;
    border-color: transparent;
}
.game-box h4 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.game-box h4 b {
    font-weight: 600;
}
.game-box .guesses-text b {
    color: #ff0000;
}
.game-box .keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}
:where(.game-modal, .keyboard) button {
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background: #5E63BA;
}
.keyboard button {
    padding: 7px;
    width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.6;
}
:where(.game-modal, .keyboard) button:hover {
    background: #8286c9;
}
.game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;
}
.game-modal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal img[src="images/victory.gif"] {
    margin-left: -10px;
}
.game-modal h4 {
    font-size: 1.53rem;
}
.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b {
    color: #5E63BA;
    font-weight: 600;
}
.game-modal button {
    padding: 12px 23px;
}
@media (max-width: 782px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img {
        max-width: 200px;
    }
    .hangman-box h1 {
        display: none;
    }
    .game-box h4 {
        font-size: 1rem;
    }
    .word-display .letter {
        margin-bottom: 35px;
        font-size: 1.7rem;
    }
    .word-display .letter.guessed {
        margin: -35px 0 25px;
    }
    .game-modal img {
        max-width: 120px;
    }
    .game-modal h4 {
        font-size: 1.45rem;
    }
    .game-modal p {
        font-size: 1.1rem;
    }
    .game-modal button {
        padding: 10px 18px;
    }
}
