body {background-color:
center: 
font-family: 'Rubik', sans-serif;
font-size: 16px;
 }


.instructions-header h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color:#FFFFFF;
	}

.instructions h2 { 
font-family: 'Fredoka', sans-serif;
font-size: 21px;
font-weight: 700;
color: #FFFFFF;

}



instructions p {
font-family: 'Rubik', sans-serif;
font-size: 16px
font-weight: 600;
color: #E49BA6
}

.icon {
width:
height:
spacing:
}


.close.btn {
position:
colour:
size:
hover: 
}	
	