/* Base code for background */
body {
  margin: 0;
  padding: 0;
  background: #8D7D7D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background: #FCF5EE;
  border: 6px solid #FFC4C4;
  box-sizing: border-box;
}


.instructions-header h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color:#FFFFFF;
	}

.instructions h2 { 
font-family: 'Fredoka', sans-serif;
font-size: 21px;
font-weight: 700;
color: #FFFFFF;

}



instructions p {
font-family: 'Rubik', sans-serif;
font-size: 16px
font-weight: 600;
color: #E49BA6
}

.icon {
width:
height:
spacing:
}


.close.btn {
position:
colour:
size:
hover: 
}	
	